<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  {% block title %}
    <title>Title</title>
  {% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        {% include "includes/navigation_bar.html" %}
      </div>
      <div class="col-10 content">
        {% block content %} {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
