{% extends "base.html" %}

{% block content %}
  <h1>{{ newspaper.title }}</h1>
  <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-primary link-to-page">
    Update Newspaper
  </a>
  <h3>{{ newspaper.topic }}</h3>
  <p>
    Published by:
    {% for publisher in newspaper.publishers.all %}
      {{ publisher.username }} ({{ publisher.first_name }} {{ publisher.last_name }}){% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p>{{ newspaper.content }}</p>
  <p>Dated: {{ newspaper.published_date }}</p>
  <br><br>
  <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}">
    <button class="btn btn-danger">Delete Newspaper</button>
  </a>
{% endblock %}
