{% extends "base_background.html" %}
{% load static %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('{% static 'assets/img/bg10.jpg' %}')">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">{{ newspaper.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 my-auto">
          <h3>{{ newspaper.title }}</h3>
          <p class="pe-5">{{ newspaper.topic }}</p>
          <p class="pe-5">Published by:
            {% for publisher in newspaper.publishers.all %}
              {{ publisher.username }} ({{ publisher.first_name }} {{ publisher.last_name }}){% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <p class="pe-5">{{ newspaper.content }}</p>
          <p class="pe-5">Dated: {{ newspaper.published_date }}</p>
        </div>
      </div>
      <div class="row mt-5">
        <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}">
          <button type="button" class="btn bg-gradient-info w-auto me-2">Update Newspaper</button>
        </a>
        <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}">
          <button type="button" class="btn bg-gradient-danger w-auto me-2">Delete Newspaper</button>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
