{% extends "base_background.html" %}

{% block content %}
  <h1>Newspaper list:</h1>
  {% load crispy_forms_filters %}
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-primary">
  </form>
  <br>
  <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
    Create new Newspaper
  </a>
  {% for newspaper in newspaper_list %}
    <h3>{{ newspaper.title }}</h3>
    <p>{{ newspaper.topic }}</p>
    <p>
      {{ newspaper.content|truncatewords:100 }}
      <span><a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">Click here to read further</a></span>
    </p>
    <hr>
    <br>
  {% empty %}
    <p>Currently there are no newspapers</p>
  {% endfor %}
{% endblock %}
