{% extends "base_background.html" %}

{% block content %}

<section>
  <div class="container py-3 my-8">
    <div class="col-lg-9 mx-auto d-flex justify-content-center flex-column">
      <h3>Delete the Redactor: "{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})"</h3>
      <form role="form" id="contact-form" method="post" autocomplete="off">
        {% csrf_token %}
        <button type="submit" class="btn bg-gradient-danger w-20 mt-5">Yes, delete</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
